<% if current_user == @user %>

<h1>Edit Property</h1>

<%= render 'form' %>

<% else %>
<h5>Sorry! You can't edit this property!</h5>
<%= link_to 'Back', user_property_path(@user, @property) %>
<% end %>
